@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Open+Sans:wght@500;600;800&family=Work+Sans:wght@300;400;500&display=swap');

/* 
font-family: 'Jost', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
 */

 *{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  background:rgba(21, 21, 21, 0.9) url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/1051410/d5251d5944796f3e3bb926c254cbd5ec2bdcb7c8.jpg");
  color: white;
 }
 a{
  text-decoration: none;
 }

 .main-container{
  margin:0 10vw;
 }

 .page-heading h1{
  text-align: center;
  margin: 20px 0px;
  font-size: 40px;

 }

 .card-item{
  padding: 20px;
  /* margin: 20px 0px; */
 }
 .card-item form{
  padding: 20px;
 }

 .button-section{
  text-align: right;
 }

 .button{
 padding: 10px;
 color: red;
 background: white;
 color: black;
 }


 table img{
  width: 40px;
 }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }
  
  td {
    border: 1px solid #ffffff;
    text-align: left;
    width: 20%;
    padding: 15px;
  }
  